# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Teruno_Yoichi.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\imacreate09\Documents\Teruno_Yoichi\.idea\.idea.Teruno_Yoichi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
